
OnReaderApp/.vs/OnReaderApp/DesignTimeBuild/.dtbcache.v2
OnReaderApp/.vs/OnReaderApp/FileContentIndex/333d4fae-816a-4c55-a0ee-97787e334f3c.vsidx
OnReaderApp/.vs/OnReaderApp/FileContentIndex/4ebb19f9-a4eb-4516-9a86-886078b0a984.vsidx
OnReaderApp/.vs/OnReaderApp/FileContentIndex/92ddb3f0-54e3-4acb-936f-d15ce375cab7.vsidx
OnReaderApp/.vs/OnReaderApp/FileContentIndex/dc8b0ef0-e5ec-41f7-a057-00ce846cd41e.vsidx
OnReaderApp/.vs/OnReaderApp/FileContentIndex/f3df2a20-c1aa-40f8-acaa-9f0fc3284fdc.vsidx
OnReaderApp/.vs/OnReaderApp/v17/.futdcache.v2
OnReaderApp/.vs/OnReaderApp/v17/.suo
OnReaderApp/.vs/OnReaderApp/v17/DocumentLayout.json
OnReaderApp/.vs/ProjectEvaluation/onreaderapp.metadata.v7.bin
OnReaderApp/.vs/ProjectEvaluation/onreaderapp.projects.v7.bin
OnReaderApp/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
OnReaderApp/obj/Debug/net8.0/apphost.exe
OnReaderApp/obj/Debug/net8.0/OnReaderApp.AssemblyInfo.cs
OnReaderApp/obj/Debug/net8.0/OnReaderApp.AssemblyInfoInputs.cache
OnReaderApp/obj/Debug/net8.0/OnReaderApp.assets.cache
OnReaderApp/obj/Debug/net8.0/OnReaderApp.csproj.AssemblyReference.cache
OnReaderApp/obj/Debug/net8.0/OnReaderApp.csproj.FileListAbsolute.txt
OnReaderApp/obj/Debug/net8.0/OnReaderApp.GeneratedMSBuildEditorConfig.editorconfig
OnReaderApp/obj/Debug/net8.0/OnReaderApp.GlobalUsings.g.cs
OnReaderApp/obj/OnReaderApp.csproj.nuget.dgspec.json
OnReaderApp/obj/OnReaderApp.csproj.nuget.g.props
OnReaderApp/obj/OnReaderApp.csproj.nuget.g.targets
